<h1 class='text-center'>Result</h1>
<h2 class='text-center'><%= params[:answer] %></h2>
<p class='text-center'>Message:<%= @score[:message] %></p>
<p class='text-center'>Result:<%= @score[:result] %></p>

<p class='text-center'><%= link_to "Play again", 'new' %></p>
